@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

$white: #fff;
$pale-gray: #f3f5f6;
$light-gray: #f4f4f4;
$mid-gray: #c3c3c3;
$dark-gray: #242424;
$black: #000;

$pale-blue: rgb(211, 209, 222);

$font-default: 'Inter', sans-serif;

$transition-primary: 0.5s ease-in-out;

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

ul {
	list-style: none;
}

button {
	background: none;
	border: none;
	text-align: left;
	font-family: $font-default;
}

::-webkit-scrollbar {
	width: 0;
	background: transparent;
}

::-webkit-scrollbar-thumb {
	background: transparent;
}

#body {
	font-family: $font-default;
	min-height: 100vh;
	display: flex;
	justify-content: center;
	padding: 5vw 0;
	background-color: $light-gray;
	scrollbar-width: none;
}

.wrap {
	max-width: 800px;
	width: 100%;
	margin: 0 auto;
	padding: 0 20px;
	list-style: none;
	> :not(:last-child) {
		margin-bottom: 32px;
	}
}

.wrap__heading {
	margin-bottom: 16px;
}

.accordion {
	background-color: $white;
	box-shadow: 0px 0px 80px rgba(0, 0, 0, 0.07);
	> :not(:last-child) {
		border-bottom: 1px solid $mid-gray;
	}
}

.accordion__item {
	position: relative;
	padding: 56px 60px 50px 169px;
	@media screen and (max-width: 767px) {
		padding: 20px;
	}
}

.accordion__item--active {
	.accordion__icon {
		background-color: $black;
		transform: rotate(360deg);
		&::before {
			background-color: $white;
		}
		&::after {
			opacity: 0;
		}
	}
	.accordion__description-holder {
		grid-template-rows: 1fr;
		opacity: 1;
	}
}

.accordion__button {
	width: 100%;
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	gap: 20px;
	cursor: pointer;
}

.accordion__title {
	font-size: 32px;
	line-height: 120%;
	font-weight: bold;
}

.accordion__icon {
	isolation: isolate;
	position: relative;
	height: 48px;
	min-width: 48px;
	background-color: $pale-gray;
	border-radius: 100vmax;
	transition: $transition-primary;
	transition-property: transform;
	&::before {
		content: '';
		position: absolute;
		z-index: 2;
		width: 18px;
		height: 3px;
		background-color: $black;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
	&::after {
		content: '';
		position: absolute;
		height: 18px;
		width: 3px;
		background-color: $black;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		transition: $transition-primary;
		transition-property: opacity;
	}
	@media screen and (max-width: 767px) {
		height: 32px;
		min-width: 32px;
		&::before {
			width: 14px;
			height: 2px;
		}
		&::after {
			width: 2px;
			height: 14px;
		}
	}
}

.accordion__description-holder {
	display: grid;
	grid-template-rows: 0fr;
	opacity: 0;
	transition: $transition-primary;
	transition-property: grid-template-rows opacity;
}

.accordion__description-wrap {
	overflow: hidden;
}

.accordion__description {
	padding-top: 24px;
	font-size: 20px;
	line-height: 140%;
	color: $dark-gray;
	background-color: $white;
}

.accordion__number {
	position: absolute;
	top: 52px;
	left: 60px;
	font-weight: bold;
	font-size: 48px;
	line-height: 120%;
	color: $mid-gray;
	@media screen and (max-width: 767px) {
		display: none;
	}
}
