@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

$white: #fff;
$pale-gray: #f3f5f6;
$light-gray: #f4f4f4;
$mid-gray: #c3c3c3;
$black: #000;

$pale-blue: rgb(241, 240, 246);

$font-default: 'Inter', sans-serif;

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

ul {
	list-style: none;
}

button {
	background: none;
	border: none;
	text-align: left;
	font-family: $font-default;
}

#body {
	font-family: $font-default;
	min-height: 100vh;
	display: flex;
	justify-content: center;
	padding: 5vw 0;
	background-color: $light-gray;
}

.holder {
	max-width: 1220px;
	width: 100%;
	margin: 0 auto;
	padding: 0 20px;
	list-style: none;
	> :not(:last-child) {
		margin-bottom: 64px;
	}
}

.holder__heading {
	margin-bottom: 12px;
}

.accordion {
	background-color: $white;
	> :not(:last-child) {
		border-bottom: 1px solid $mid-gray;
	}
}

.accordion__item {
	position: relative;
	padding: 56px 60px 50px 169px;
}

.accordion__item--active {
	background-color: $pale-blue;
	.accordion__icon {
		background-color: $black;
		&::before {
			background-color: $white;
		}
		&::after {
			display: none;
		}
	}
	.accordion__description-holder {
		display: unset;
	}
}

.accordion__button {
	width: 100%;
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	cursor: pointer;
}

.accordion__title {
	font-size: 32px;
	line-height: 120%;
	font-weight: bold;
}

.accordion__icon {
	position: relative;
	height: 48px;
	min-width: 48px;
	background-color: $pale-gray;
	border-radius: 100vmax;
	&::before {
		content: '';
		position: absolute;
		width: 18px;
		height: 3px;
		background-color: $black;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
	&::after {
		content: '';
		position: absolute;
		height: 18px;
		width: 3px;
		background-color: $black;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
}

.accordion__description-holder {
	display: none;
}

.accordion__description {
	margin-top: 24px;
	font-size: 20px;
	line-height: 140%;
	color: $mid-gray;
}

.accordion__number {
	position: absolute;
	top: 52px;
	left: 60px;
	font-weight: bold;
	font-size: 48px;
	line-height: 120%;
	color: $mid-gray;
}
